__pycache__
.idea
TrainAndTest/data
__init__.py
Log/
Data/
*.pdf
*.png
*.npy
*.ark
*.pth
*.bundle
*.json
*.wav

*.bin
Lime/SuResCNN10/data
*.pickle
*.egs
*.eps
*.local
Misc/.ipynb_checkpoints
Misc/data
Score/data/exp
Score/plda_vz.py
Misc_de
/test.jpg
/test.log.jpg
/test.v11.jpg
/test.v11.log.jpg
/test.v11.log.np.jpg
Lime/Plot/.ipynb_checkpoints
Score/data/covar.csv
