__pycache__
.idea
TrainAndTest/data
__init__.py
Log/
Data/
*.pdf
*.png
*.npy
*.ark
*.pth
*.bundle
*.json
*.wav

*.bin
Lime/SuResCNN10/data
*.pickle
*.egs
*.eps
*.local
misc/.ipynb_checkpoints
misc/data
Score/data/exp
Score/plda_vz.py
