__pycache__
.idea
misc
TrainAndTest/data
__init__.py
Log/
Data/
*.pdf
*.png
*.npy
*.ark
*.pth
*.bundle
*.json
*.wav

*.bin
Lime/SuResCNN10/data
*.pickle
Score/data
*.local
Lime/Plot/.ipynb_checkpoints
Misc_de
test.jpg
test.log.jpg
test.v11.jpg
test.v11.log.jpg
test.v11.log.np.jpg
