audioread==2.1.8
gpustat==0.6.0
kaldi-io==0.9.1
matplotlib==3.0.3
numpy==1.18.1
Pillow==5.2.0
pydub==0.23.1
python-speech-features==0.6
scikit-learn==0.22.1
scipy==1.4.1
six==1.11.0
sklearn==0.0
SoundFile==0.10.3.post1
speechpy==2.4
tensorboardX==2.0
tqdm==4.42.0
torchvision==0.3.0
